<div class="card mb-3">
    <div class="card-body">
        <form #userPost = "ngForm" (ngSubmit) = "onUpdate(userPost.value)">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        Name  : {{ name }}
                    </div>
                    <div class="col-sm-4">
                        Email : {{ email }}
                    </div>
                    <div class="col-sm-4">
                        State : {{ state }}
                    </div>
                </div>
                <input type="text" id="password" class="form-control" name="password" [(ngModel)]="password" readonly hidden>
                 <br>
                Symptoms : {{ symptoms }} <br>
            </div>
            <div class="form-check form-check-inline">
                <input id="active" type="checkbox" name="active" class="form-check-input" [(ngModel)]="active">
                <label class="form-check-label" for="active">Active</label>
            </div>
            <div class="form-check form-check-inline">
                <input id="recovered" type="checkbox" name="recovered" class="form-check-input" [(ngModel)]="recovered">
                <label class="form-check-label" for="recovered">Recovered</label>
            </div>
            <div class="form-check form-check-inline">    
                <input id="deceased" type="checkbox" name="deceased" class="form-check-input" [(ngModel)]="deceased">
                <label class="form-check-label" for="deceased">Deceased</label>
            </div>
            <button class="btn btn-primary float-right" >Update</button>
        </form>
    </div>
</div>