<div class="containter-fluid">
    <div class="card mx-auto border-primary" style="width: 50rem; margin-top: 5rem;">
        <div class="card-header">
            <h3 class="card-title text-center">Register as Doctor</h3>
        </div>
        <div class="card-body">
            <form #doctorPost = "ngForm" (ngSubmit) = "onSubmit(doctorPost.value)">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" class="form-control" name="name" ngModel>
                </div>
    
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" name="email" ngModel>
                </div>
    
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" name="password" ngModel>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password">Confirm Password</label>
                        <input type="password" id="cpassword" class="form-control" name="cpassword" ngModel>
                    </div>
                </div>
                
                <div class="alert alert-danger text-center" role="alert" *ngIf="error">{{ error }}</div>

                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
        </div>
    </div>
</div>

